@import "../../scss//variables";

.landing-page {
    &_hero{
        height: 100vh;
        background-image: url("../../assets/images/home-hero-bg@2x.png");
        background-size: cover;
    }

    &_hero-form-container {
        height: auto;
        display: flex;
        margin-top: 5.5rem;
        padding: 0 11rem 0 11rem;
    }

    &_hero-right {
        justify-content: flex-end;
        display: flex;
        height: auto;
        width: 100%;
    }

    &_hero-left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: #FFFFFF;
        height: auto;
        width: 100%;
        padding-bottom: 5.5rem;

        &-title{
            font-size: 5rem;
            font-family: MontserratBold;
        }
        &-title2{
            font-size: 6rem;
            line-height: 7.063rem;
            font-family: MontserratBold;
        }
        &-title3{
            font-size: 1.375rem;
            font-family: MontserratBold;
            text-align: left;
            margin-top: 0.438rem;
        }
        &-name{
            font-family: MontserratMedium;
            margin-bottom: 3.5rem;
            font-size: 1.375rem;
            line-height: 2.219rem;
        }
    }

    &_divider{
        border: 1px solid white;
        border-top: 0;
        border-bottom: 0;
    }
}

