@import "../../scss//variables";

.landing-page {
    &_hero{
        height: 100vh;
        background-image: url("../../assets/images/home-hero-bg@2x.png");
        background-size: cover;

        @media(max-width: 727px){
            & {
                height: auto;
                padding-bottom: 10rem;
            }
        }
    }

    &_hero-form-container {
        height: auto;
        display: flex;
        margin-top: 5.5rem;
        padding: 0 11rem 0 11rem;
    }

    &_divider{
        border: 1px solid white;
        border-top: 0;
        border-bottom: 0;
    }

    &_section2{
        margin-top: 10.438rem;
        padding: 0 23.438rem 0 23.438rem;
    }
    &_imgtext{
        display: grid;
        row-gap: 10.438rem;
        margin-top: 10.438rem;
        padding: 0 23.438rem 0 23.438rem;

        &-text{
            color: #9AA8B6;
            font-family: MontserratRegular;
            font-size: 1.375rem;
            line-height: 2.125rem;
        }
        &-head{
            color: #3E4C5B;
            font-family: MontserratBold;
            font-size: 3.125rem;
            line-height: 3.813rem;
            margin-bottom: 2.938rem;
        }

        &-head2{
            color: #3E4C5B;
            font-family: MontserratBold;
            font-size: 1.375rem;
            line-height: 2.125rem;
            margin-top: 1.438rem;
        }
    }
    &_contact-head{
        color: $home-headers-color;
        font-size: $home-headers-font-size;
        font-family: $home-headers-font-family;
        text-align: center; 
        line-height: 3.813rem;
        margin-bottom: 2.719rem;
    }
    &_contact-body{
        color: #6E6E6E;
        font-size: 1.875rem;
        font-family: MontserratSemiBold;
        text-align: center; 
        line-height: 3.063rem;
    }
    &_contact-container{
        margin-bottom: 11.719rem;
    }

}
@media(max-width: 1753px){
    html{
        font-size: 14px !important;
    }
}

@media(max-width: 1441px){
    html{
        font-size: 11px !important;
    }
}

@media(max-width: 1300px){
    html{
        font-size: 9px !important;
    }
}

@media(max-width: 1024px){
    .landing-page_imgtext {
        padding: 0 20.438rem 0 20.438rem;
    }
}

@media(max-width: 1000px){
    .landing-page_hero-form-container {
        padding: 0;
    }
    .landing-page_imgtext {
        padding: 0;
    }
}

@media(max-width: 738px){
    .landing-page_hero-form-container {
        padding: 0 11rem 0 11rem;
        flex-direction: column;
    }
    .donation-form{
        width: 100%;
    }
}

@media(max-width: 727px){
    .landing-page_hero-form-container {
        padding: 0 11rem 0 11rem;
        flex-direction: column;
    }
}

@media(max-width: 605px){
    .landing-page_imgtext {
        padding: 0 3.625rem 0 3.625rem;
    }
    .landing-page_hero-form-container {
        padding: 0rem;
    }
}

@media(max-width: 426px){
    
    html{
     font-size: 7px !important;
    }
}

@media(max-width: 350px){
    
    html{
     font-size: 6px !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
        .landing-page_hero {
            height: auto;
            padding-bottom: 10rem;
        }
}

@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .landing-page_hero {
        height: auto;
        padding-bottom: 10rem;
    }
}
