@import "../../scss/variables";

.why-donate{
    width: 73rem;
    margin: auto;
    &_head{
        color: $home-headers-color;
    font-size: $home-headers-font-size;
    font-family: $home-headers-font-family;
    width: 41.75rem;
    line-height: 3.813rem;
    margin: auto;
    margin-bottom: 5.344rem;
    text-align: center;
    }

    &_text-container{
        display: grid;
        grid-template: repeat(2, auto)/repeat(3, auto);
        row-gap: 2.5rem;
        column-gap: 2.813rem;
    }
}