.home-subscribe{
    text-align: center;
    font-size: 1.375rem;
    font-family: MontserratMedium;
    line-height: 2.125rem;

    &_text1{
        color: #3E4C5B;
    }

    &_text2{
        color: #23CF5F;  
        font-family: MontserratBold;
        display: block;
        margin-bottom: 2.75rem;
    }

    @media(max-width: 700px){
        & {
            width: 34.625rem;
            margin: auto;
        }
    }
    @media(max-width: 605px){
        &{
            width: 100%;
    margin-top: 5rem;
        }
    }
}
