@import "../../scss/variables";

.home-faq{
    margin: auto;
    margin-bottom: 5.344rem;
    width: 58.555rem;
    &_head{
        color: $home-headers-color;
        font-size: $home-headers-font-size;
        font-family: $home-headers-font-family;
        text-align: center; 
        line-height: 3.813rem;
    }
    

    &_container{
        width: 100%;
        margin: auto;
    }

    &_txt{
    color: #9AA8B6;
     font-size: 1.375rem;
     font-family: MontserratMedium;
     line-height: 2.125rem;
     margin-bottom: 2.094rem;
    }

    @media(max-width: 700px){
    & {
        width: 34.625rem;
    }
}
@media(max-width: 605px){
    &{
        width: 100%;
margin-top: 5rem;
    }
}
}
