.home-text{
 &_head{
     color: #3E4C5B;
     font-size: 1.375rem;
     font-family: MontserratBold;
     line-height: 2.125rem;
 }
 &_body{
     color: #9AA8B6;
     font-size: 1.375rem;
     font-family: MontserratMedium;
     line-height: 2.125rem;
 }
}