.img-text-sect {
    display: flex;
    justify-content: space-between;
    column-gap: 8.25rem;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    
    align-items: center;
    &_img {
        height: 35rem;

        @media(max-width: 426px){
            & {
                width: 100%;
            }
        }
    }
    &_text {
        width: 35.7rem;
        
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media(max-width: 605px){
            &{
                width: 100% !important;
        margin-top: 5rem;
            }
        }
    }

    @media(max-width: 700px){
        & {
            flex-direction: column !important;
        }
    }
    
}

